/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroLogo {
  width: 128px;
  height: 128px;
  margin: 32px auto;
}

.heroImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 4rem auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

main {
  padding: 2rem 0;
  height: 100%;
  ;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}