/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #37981f;
  --ifm-color-primary-dark: #32891c;
  --ifm-color-primary-darker: #2f811a;
  --ifm-color-primary-darkest: #276a16;
  --ifm-color-primary-light: #3da722;
  --ifm-color-primary-lighter: #3faf24;
  --ifm-color-primary-lightest: #48c628;

  font-size: 15px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9fe88d;
  --ifm-color-primary-dark: #85e26e;
  --ifm-color-primary-darker: #78df5e;
  --ifm-color-primary-darkest: #51d530;
  --ifm-color-primary-light: #b9eeac;
  --ifm-color-primary-lighter: #c6f1bc;
  --ifm-color-primary-lightest: #edfbea;

  font-size: 15px;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

/* Light Mode Styles (default) */
.redoc-wrap {
  /* Define light mode styles here */
  background-color: #ffffff;
  /* White background for ReDoc content */
  color: #333333;
  /* Dark text for ReDoc content */
}

/* Dark Mode Styles */
html[data-theme='dark'] .redoc-wrap {
  background-color: #1A1A1A;
  /* Dark background for ReDoc content */
  color: #ffffff;
  /* White text for ReDoc content */
}

html[data-theme='dark'] .redoc-wrap .menu-content {
  background-color: #333;
  /* Darker background for the sidebar */
  color: #ffffff;
  /* White text for the sidebar */
}

html[data-theme='dark'] .redoc-wrap .sidebar-container {
  background-color: #333;
  /* Darker background for the sidebar */
  color: #ffffff;
  /* White text for the sidebar */
}

html[data-theme='dark'] .redoc-wrap a {
  color: #59a6ff;
  /* Adjust link colors for better visibility in dark mode */
}

/* Add any other specific dark mode customizations here */