# configs.j2

{%- macro generate_configs(config_node) %}
config_list = autogen.config_list_from_json(
    "OAI_CONFIG_LIST",
    {%- if config_node.data.filter_dict %}
    filter_dict={
        "model": {{ config_node.data.filter_dict.split(',') }},
    },
    {%- endif %}
)

llm_config = {
    {%- if config_node['data'].get('functions') %}
    "functions": [
        {%- for func in config_node['data']['functions'] %}
        {
            "name": "{{ func.name }}",
            "description": "{{ func.description }}",
            "parameters": {
                "type": "object",
                "properties": {
                    {%- for param in func.parameters %}
                    "{{ param.name }}": {
                        "type": "{{ param.type }}",
                        "description": "{{ param.description }}"
                    }{% if not loop.last %},{% endif %}
                    {%- endfor %}
                },
                "required": [
                  {%- for param in func.parameters %}
                  {%- if param.required %}
                  "{{ param.name }}" {% if not loop.last %}, {% endif %}
                  {%- endif %}
                  {%- endfor %}
                ]
            }
        }{% if not loop.last %},{% endif %}
        {%- endfor %}
    ],
    {%- endif %}
    "config_list": config_list,
    {%- if config_node['data'].get('timeout') is not none %}
    "timeout": {{ config_node.timeout }},
    {%- endif %}
    {%- if config_node['data'].get('temperature') is not none %}
    "temperature": {{ config_node['data'].get('temperature') }},
    {%- endif %}
    {%- if config_node['data'].get('max_tokens') is not none %}
    "max_tokens": {{ config_node['data'].get('max_tokens') }},
    {%- endif %}
}

{%- if group_chat_node %}
group_llm_config={
    "config_list": config_list,
    {%- if config_node['data'].get('timeout') is not none %}
    "timeout": {{ config_node.timeout }},
    {%- endif %}
    {%- if config_node['data'].get('temperature') is not none %}
    "temperature": {{ config_node['data'].get('temperature') }},
    {%- endif %}
    {%- if config_node['data'].get('max_tokens') is not none %}
    "max_tokens": {{ config_node['data'].get('max_tokens') }},
    {%- endif %}
}
{%- endif %}

{%- endmacro %}
