{%- if tools %}
{%- if tools|length > 0 %}
# Register the functions to agents
{%- for tool in tools %}
{%- if tool.assigned and tool.assigned | length > 0 %}
{%- for assign in tool.assigned %}
node_{{ assign['agent']}}.register_for_{{assign['scene']}}(
  name="{{ tool.name }}",
  {%- if assign['scene'] == 'llm' %}
  description="{{ tool.description }}", # This field is only required when registering to LLM
  {%- endif %}
)({{ tool.name }})
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{% endif %}
