# group_chat.j2
{% macro generate_group_chat(group_chat_node, grouped_nodes, user_proxies) %}
# group chat
groupchat_{{ group_chat_node['id'] }} = GroupChat(agents=[
        {%- for node in grouped_nodes %}
        node_{{ node['id'] }},
        {%- endfor %}
        {%- if group_chat_node.data.involve_user %}
        user_proxy,
        {%- endif %}
    ],
    messages=[],
    {%- if group_chat_node.data.max_round %}
    max_round={{ group_chat_node.data.max_round }},
    {%- endif %}
)

node_{{ group_chat_node['id'] }} = GroupChatManager(groupchat=groupchat_{{ group_chat_node['id'] }}, llm_config=group_llm_config)
{% endmacro %}
