# configs.j2

{%- macro generate_config(project) %}
{%- if settings and settings.get('models') %}
config_list = {{ settings['models'] }}
{%- else %}
config_list = autogen.config_list_from_json(
    env_or_file="OAI_CONFIG_LIST",
)
{%- endif %}

{%- if project['settings'].filters %}
config_list = autogen.filter_config(
    config_list,
    filter_dict={
        {%- if project['settings'].filters.get('name') %}
        "model": {{ project['settings'].filters.get('name').split(',') }},
        {%- endif %}
        {%- if project['settings'].filters.get('tags') %}
        "tags": {{ project['settings'].filters.get('tags').split(',') }},
        {%- endif %}
    },
)
{%- endif %}

llm_config = {
    "config_list": config_list,
    {%- if project['settings'] is not none and project['settings'].get('timeout') is not none %}
    "timeout": {{ project['settings'].timeout }},
    {%- endif %}
    {%- if project['settings'] is not none and project['settings'].get('temperature') is not none %}
    "temperature": {{ project['settings'].get('temperature') }},
    {%- endif %}
    {%- if project['settings'] is not none and project['settings'].get('max_tokens') is not none %}
    "max_tokens": {{ project['settings'].get('max_tokens') }},
    {%- endif %}
}

{%- endmacro %}
