# Group Chats
{% for group_data in group_nodes %}
{{ group_data.group_node.id }} = GroupChat(
    agents=[{%- for node in group_data.children %}node_{{ node['id'] }}{% if not loop.last %}, {% endif %}{%- endfor %}{% if group_data.preceding_node %}, node_{{ group_data.preceding_node.id }}{% endif %}],
    messages=[],
    {%- if group_data.group_node.data.max_round is defined %}
    max_round={{ group_data.group_node.data.max_round }},
    {%- endif %}
    {%- if group_data.group_node.data.send_introductions is defined %}
    send_introductions={{ 'True' if group_data.group_node.data.send_introductions else 'False' }},
    {%- endif %}
    {%- if group_data.group_node.data.speaker_selection_method is defined %}
    speaker_selection_method="{{ group_data.group_node.data.speaker_selection_method }}",
    {%- endif %}
)

node_{{ group_data.group_node.id }} = GroupChatManager(groupchat={{ group_data.group_node.id }}, llm_config=llm_config)

{% endfor %}