# Tools
{% if tool_dict and tool_dict | length > 0 %}
{%- for tool in tool_dict.values() %}
{%- if tool.code %}
# Function for {{ tool.name }}
{%- for line in tool.code.split('\n') %}
{{ line }}
{%- endfor %}
{% endif %}
{%- endfor %}
{%- endif %}