# Tools
{%- if tools and tools | length > 0 %}
# Function for tools
{%- for tool in tools %}
{%- if tool.code %}
{%- for line in tool.code.split('\n') %}
{{ line }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}