.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 240px;
  width: 400px;
  border-radius: 32px;
  object-fit: cover;
  margin-bottom: 10px;
}