diskcache==5.6.3
fastapi==0.112.0
gotrue==2.6.1
h11==0.14.0
Jinja2==3.1.4
numpy==2.0.1
openai==1.38.0
Pillow==10.4.0
pyautogen==0.2.33
pydantic==2.8.2
pymupdf==1.24.9
python-dotenv==1.0.1
python_docx==1.1.2
regex==2023.12.25
Requests==2.32.3
sentence_transformers==3.0.1
starlette==0.38.2
termcolor==2.4.0
unstructured==0.14.10
