# Function template content generator
{% for function in functions %}
{% if function.async %}async {% endif %}def {{ function.name }}({% for param in function.parameters %}{{ param.name }}{% if not loop.last %},{% endif %}{% endfor %}):
{%- if function.code %}
{%- for line in function.code.split('\n') %}
    {{ line }}
{%- endfor %}
{%- else %}
    pass
{%- endif %}
{% endfor %}
