# register the functions
{%- if functions|length > 0 %}
user_proxy.register_function(
    function_map={
      {%- for func in functions %}
      "{{func.name}}": {{func.name}},
      {%- endfor %}
    }
)
{%- endif %}
