# user_proxy.j2
{% macro generate_main_user_proxy(node) %}
{%- set class_name = node['data']['class'] %}
{%- set name = node['data']['name'] %}
user_proxy = {{ class_name }}(
    name="{{ name }}",
    {%- if node['data'].get('system_message') %}
    system_message="{{ node['data']['system_message'] }}",
    {%- endif %}
    {%- if node['data'].get('human_input_mode') %}
    human_input_mode="{{ node['data']['human_input_mode'] }}",
    {%- endif %}
    {%- if node['data'].get('is_termination_msg') %}
    is_termination_msg={{ node['data']['is_termination_msg'] }},
    {%- endif %}
    {%- if node['data'].get('max_consecutive_auto_reply') is not none %}
    max_consecutive_auto_reply={{ node['data']['max_consecutive_auto_reply'] }},
    {%- endif %}
    {%- if node.data.code_execution_config %}
    code_execution_config={
      {%- if node.data.code_execution_config.last_n_messages %}
      "last_n_messages": {{ node.data.code_execution_config.last_n_messages }},
      {%- endif %}
      {%- if node.data.code_execution_config.work_dir %}
      "work_dir": "{{ node.data.code_execution_config.work_dir }}",
      {%- endif %}
      {%- if node.data.code_execution_config.use_docker %}
      "use_docker": {{ node.data.code_execution_config.use_docker }},
      {%- endif %}
    },
    {%- endif %}
    {%- if node.data.retrieve_config %}
    retrieve_config={
      {%- if node.data.retrieve_config.task %}
      "task": "{{ node.data.retrieve_config.task }}",
      {%- endif %}
      {%- if node.data.retrieve_config.docs_path %}
      "docs_path": {{ node.data.retrieve_config.docs_path }},
      {%- endif %}
      {%- if node.data.retrieve_config.custom_text_types %}
      "custom_text_types": {{ node.data.retrieve_config.custom_text_types }},
      {%- endif %}
      {%- if node.data.retrieve_config.chunk_token_size %}
      "chunk_token_size": {{ node.data.retrieve_config.chunk_token_size }},
      {%- endif %}
      {%- if node.data.retrieve_config.client %}
      "client": {{ node.data.retrieve_config.client }},
      {%- endif %}
      "model": config_list[0]["model"],
      {%- if node.data.retrieve_config.get_or_create %}
      "get_or_create": {{ node.data.retrieve_config.get_or_create }},
      {%- endif %}
    },
    {%- endif %}
)
{% endmacro %}