# agents.j2
{% macro generate_agents(assistant_nodes) %}
{%- for node in assistant_nodes %}
{%- set class_name = node['data']['class'] %}
{%- set name = node['data']['name'] %}
{%- set other_props = node['data'].get('other_properties', {}) %}

node_{{ node['id'] }} = {{ class_name }}(
    name="{{ name }}",
    {%- if node['data'].get('system_message') %}
    system_message="""{{ node['data']['system_message'] }}""",
    {%- endif %}
    llm_config=llm_config,
)
{%- endfor %}
{% endmacro %}