# Ignore virtual environments
venv
env
.venv
__pycache__

# Ignore Python cache files
*.pyc
*.pyo
*.pyd
*.env

# Ignore IDE/project files
.idea
.vscode
*.iml

# Ignore other unnecessary files
*.log
*.tmp