annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
arxiv==2.0.0
asgiref==3.7.2
asttokens==2.4.1
autopep8==2.0.4
backoff==2.2.1
bcrypt==4.1.1
beautifulsoup4==4.12.2
black==23.12.1
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.2
chess==1.10.0
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.18
click==8.1.7
coloredlogs==15.0.1
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
DataProperty==1.0.1
debugpy==1.8.0
decorator==4.4.2
Deprecated==1.2.14
deprecation==2.1.0
diskcache==5.6.3
distro==1.8.0
docker==7.0.0
docopt==0.6.2
docutils==0.20.1
dominate==2.8.0
executing==2.0.1
fastapi==0.104.1
feedparser==6.0.10
filelock==3.13.1
FLAML==2.1.1
Flask==3.0.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.44.0
frozendict==2.3.10
fsspec==2023.12.0
google==3.0.0
google-auth==2.24.0
googleapis-common-protos==1.61.0
gotrue==1.3.0
grpcio==1.59.3
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httptools==0.6.1
httpx==0.24.1
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.4
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipykernel==6.26.0
ipython==8.17.2
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.5.0
keyring==24.3.0
kiwisolver==1.4.5
kubernetes==28.1.0
llvmlite==0.41.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
mmh3==4.0.1
monotonic==1.6
more-itertools==10.1.0
moviepy==1.0.3
mpmath==1.3.0
multitasking==0.0.11
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
nh3==0.2.14
nltk==3.8.1
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.16.3
openai==1.3.5
openai-whisper==20231117
opencv-python==4.8.1.78
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
overrides==7.4.0
packaging==23.2
pandas==2.1.3
parso==0.8.3
pathspec==0.12.1
pathvalidate==3.2.0
peewee==3.17.0
pexpect==4.8.0
Pillow==10.1.0
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==4.0.0
pocketbase==0.9.2
postgrest==0.13.0
posthog==3.0.2
prettytable==3.9.0
proglog==0.1.10
prompt-toolkit==3.0.40
protobuf==4.25.1
psutil==5.9.6
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyautogen==0.2.3
pycodestyle==2.11.1
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
pyparsing==3.1.1
pypdf==3.17.1
PyPika==0.48.9
pypistats==1.5.0
pytablewriter==1.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
readme-renderer==42.0
realtime==1.0.0
regex==2023.10.3
replicate==0.18.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.3
starlette==0.27.0
storage3==0.7.0
StrEnum==0.4.15
supabase==2.1.0
supafunc==0.3.1
sympy==1.12
tabledata==1.3.3
tcolorpy==0.1.4
tenacity==8.2.3
termcolor==2.3.0
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.15.0
torch==2.1.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.36.0
twine==4.0.2
typepy==1.3.2
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.18
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.9
webencodings==0.5.1
websocket-client==1.6.4
websockets==10.4
Werkzeug==3.0.1
wrapt==1.16.0
yarg==0.1.9
yfinance==0.2.33
zipp==3.17.0
